/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
} */

.con {
  display: flex;
  margin-top: 8%;
  margin-left: -35%;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
  flex-wrap: wrap;
  gap: 20px;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  gap: 4px;
  background-color: rgb(46, 59, 84);
  padding: 10px; 
  width: 30vw; 
  max-width: 300px;
}


.cell {
  background-color: #4CAF50;
  aspect-ratio: 1 / 1; 
  padding: 20% 0; 
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell.allocated {
  background-color: red;
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.sidebar {
  height: 150vh;
}

#tcd{
  margin-left: 30%;
} 